:root {
   --white: hsl(0, 0%, 100%);
   --light-gray: hsl(212, 45%, 89%);
   --grayish-blue: hsl(220, 15%, 55%);
   --dark-blue: hsl(218, 44%, 22%);
}

/*==================== BASIC CSS ====================*/
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.outfit {
   font-family: 'Outfit', sans-serif;
}

.poppins {
   font-family: 'Poppins', sans-serif;
}

body {
   height: 100vh;
   background-color: var(--light-gray);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Outfit', sans-serif;
}

img {
   width: 100%;
   object-fit: cover;
}

a {
   text-decoration: none;
   transition: 0.3s ease-out;
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.attribution {
   font-size: 0.75rem;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}

/*==================== PROJECT CSS ====================*/
.card {
   padding: 16px 24px;
   background-color: var(--white);
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.card__image {
   border-radius: 8px;
}

.card__title {
   margin-top: 24px;
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.1rem;
}

.card__desc {
   margin-top: 24px;
   font-size: 0.812rem;
   font-weight: 300;
   line-height: 1.1rem;
}